@import url("bootstrap.css");

body {
  background-color: var(--bs-light);
  color: var(--bs-dark);
}

.btn {
  border-radius: 0;
}

.card {
  border-radius: 0;
}

.card {
  border: 1px solid var(--dark);
}

i {
  color: var(--bs-primary);
}

i:hover {
  color: var(--gray);
}

header {
  height: 55px;
  background-color: var(--light);
}

header a {
  text-decoration: none;
}

header li {
  list-style-type: none;
}

#logo {
  height: 40px;
  width: 40px;
}

#nom {
  font-size: 60px;
  font-weight: 500;
}

#btn-projets {
  height: 60px;
  width: 200px;
}

#btn-projets a {
  text-decoration: none;
}

#btn-discuter {
  height: 40px;
  width: 100px;
}

#intro {
  margin-left: 80px;
  margin-top: 40px;
}

#description {
  margin-left: 80px;
  margin-top: 50px;
  margin-right: 80px;
  font-size: large;
}

.progress {
  height: 10px;
}

#services {
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 50px;
}

.item-service {
  height: 225px;
  width: 375px;
  border: 2px solid var(--bs-primary);
}

#projets {
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 50px;
}

.item-projets {
  height: 180px;
  width: 400px;
  border: 2px solid var(--bs-primary);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.client-profie {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

#feedbacks {
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 50px;
}

.item-feedbacks {
  height: 200px;
  width: 600px;
  border: 1px solid var(--bs-primary);
}

#future-client {
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 50px;
}

footer {
  height: 70px;
  background-color: var(--bs-secondary);
  color: var(--bs-light);
  margin-top: auto;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

.footer-contact {
  margin-top: 213px;
}
